.holimain{
    display:flex;
    flex-direction: column;
    /* width:50vw; */
    align-items: center;
    /* margin: auto; */
    background-color: rgb(255, 249, 255);
    font-family: "lato";
    padding: 2%;
    height: 90%;
    width: 100%;
    /* overflow-y: scroll; */
}

.holilistb tr td{
    text-align: center ;
    border-top: 1px solid black;
}

/* .holilistb tr{
    height: 10px;
} */
/* .holilisth tr{
    height: 15px;
    padding: 0%;
} */
.holilistb tr:hover{
    background: plum;
}

.holilisth tr th{
    border-top: 1px solid black;
}

.symbol{
    height: 20px;
    width:20px;
    padding:10px;
    transition-duration: 1s;
    cursor: pointer;
    color: black;
}

/* .small{
    height: 20px;
    width:20px;
    padding:10px;
} */

.holisub{
    width:100%;
    height:100%;
    overflow-y: scroll;
    text-align: center;
}
.popup{
    width:60%;
    height:60%;
    position: absolute;
    background: rgba(139, 0, 139, 0.781);
    top:25%;
    left:30%;
    margin-left:auto;
}
.c{
    cursor: pointer;
    color:purple;
}
.c:hover{
    color:rgb(40, 1, 40);
}
.addbtn{
    color:purple;
    background: pink;
    font-size: larger;
    font-weight: bolder;
    width: 15%;
    height: 10%;
    align-self: flex-end;
    padding: 3px;
    cursor: pointer;
    border: none;
    text-align: center;
}
.p{
    align-self: center;
}
.addbtn:hover{
    background: purple;
    color:pink;
}

.symbol:hover{
    transform: scale(1.1);
}

.holilist{
width:100%;
font-family: "lato";
}

.holilist caption{
    font-size: 40px;
    font-weight: bolder;
}

#dte,#evnt{
    height: 30px;
    width:40%;
    font-size: large;
    font-weight: bold;
}

.holilist thead{
    font-size: 25px;
}

.holilist tbody{
    font-size: 20px;
}

.holiadd{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;  
}
