.login{
    font-family: "lato";
    margin-left: 10vw;
    margin-top: 8vw;
    text-align: center;
    font-size: 1.5vw;
    font-weight: bold;
    color: #e0b0f7;
    display: inline-block;
    width: 30%;
    box-shadow: 0px 0px 6px #310048;
    background: linear-gradient(rgb(162, 0, 255), rgb(0, 221, 255));;
    border-radius: 6%;
}

#email,#pwd{
    height: 2vw;
    width: 90%;
    padding-bottom: 2px;
}
#forgot,#login{
    height: 3vw;
    font-size: 1.2vw;
    width: 40%;
    font-weight: bold;
    color: #310048 ;
    margin-bottom:8%;
}

@media screen and (max-width: 800px) {
  }
