.calendar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width:100%;
    background: rgb(255, 249, 255);
    align-items: center;
}
.cal{
    width:50vw;
}